@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500&display=swap');

@import url('./cabecalho.css');
@import url('./album.css');
@import url('./rodape.css');
@import url('./album.css');
@import url('./corpo.css');
@import url('./responsivo.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}